<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lq.daoyun.mapper.CourseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lq.daoyun.pojo.Course">
    <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="credit" property="credit" />
        <result column="semester" property="semester" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        name, description, credit, semester
    </sql>

    <select id="getCourseListByTeacherID" resultMap="BaseResultMap">
        SELECT
            course.*
        FROM
            course
                LEFT JOIN
            teacher_course
            ON
                (course.id = teacher_course.course_id)
        WHERE
            teacher_course.teacher_id = #{teacherid}
    </select>

    <select id="getCourseListByStudentID" resultMap="BaseResultMap">
        SELECT
            course.*
        FROM
            course
                LEFT JOIN
            student_course
            ON
                (course.id = student_course.course_id)
        WHERE
            student_course.student_id = #{studentid}
    </select>

</mapper>
